# Ignore folders 
Images/
pybasic/

# Ignore unnecessary notebooks
1_preprocessing_data/cell_profile_illlum_proto.cppipe
1_preprocessing_data/PyBaSiC_Pipelines/Test.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/.ipynb_checkpoints/1Illumination Correction Pipeline-checkpoint.ipynb
1_preprocessing_data/prototype_illumination.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/1Illumination_Correction_Pipeline_DAPI.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/2Illumination_Correction_Pipeline_GFP.ipynb
/home/jenna/NF1_SchwannCell_data/1_preprocessing_data/PyBaSiC_Pipelines/3Illumination_Correction_Pipeline_RFP.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/1Illumination_Correction_Pipeline_DAPI.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/2Illumination_Correction_Pipeline_GFP.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/3Illumination_Correction_Pipeline_RFP.ipynb
1_preprocessing_data/PyBaSiC_Pipelines/NF1_Channels
1_preprocessing_data/1-CPA-processing.yml
1_preprocessing_data/PyBaSiC_Pipelines/.ipynb_checkpoints
2_segmenting_data/Test.ipynb
3_extracting_features/NF1_cyto_project-DP
3_extracting_features/NF1_nuc_project-DP
test.ipynb
.ipynb_checkpoints/
__pycache__/
.DS_Store

# ignore extra images
0_download_data/NF1_Processed_Images

# ignore test image datasets
NF1_test
NF1_Second_Plate_Old

# Ignore test notebooks
example_code.ipynb
